

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100px;
    width: 100%;
    background: rgb(189, 189, 189);
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                padding-left: 30px;
                a{
                    color: black;
                    font-size: 2em;
                    text-transform: uppercase;
                }
            }
        }
    }
}